# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. MatPlotLib
4. TensorFlow

|       *Data Science Tools*               |
|------------------------------------------|
|Libraries and Web Frameworks              |
|Integrated Development Environments (IDEs)|
|Data Visualization Tools                  |

###  Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Objectives:
- Python
- Java
- SQL
- R

## Author

Ali Ahmed